<header>
        <i class="fas fa-headphones-alt headphones-icon"></i>
        <h1 id="title" class="title"></h1>
        <div class="menu">
            <a title="Contact" href='./contact'>Contact<a/>
    </div>
  </header>