@import '~styles/settings.scss';
.header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        color: white;
    }
    .logo {
        padding-left: 5px;
        height: 40px;
    }
    .headphones-icon {
        font-size: 2em;
        color: $white;
        padding-right: 5px;
    }
}